html,
body {
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

iframe,
#pic-holder,
#video-holder {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s;
}

#pic-holder {
  background-size: 100% 100%;
}

.hide-holder {
  opacity: 0
}

.show-holder {
  opacity: 1
}

.label-container {
  background: rgba(0, 0, 0, 0.3);
  padding: 30px;
  width: 100%;
}

.full-size {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}
